/*
    Document   : miestilo
    Created on : 29/08/2013, 12:11:16 PM
    Author     : esanchez
    Description:
        Purpose of the stylesheet follows.
*/

#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}
